<section class="card rounded">
  <div class="card-body">
    <h2>Entrar</h2>

    <form>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="E-mail"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check-session" />
        <label class="form-check-label" for="check-session"
          >Mantenha-me conectado</label
        >
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>
</section>
