<section class="card bg-dark p-2 text-white bg-opacity-50">
  <div class="card-body">
    <h2>Entrar</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="E-mail"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check-session" />
        <label class="form-check-label" for="check-session"
          >Mantenha-me conectado</label
        >
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-danger">Entrar</button>
      </div>
    </form>
  </div>
</section>
